html {
  font-size: 62.5%;
}

body {
  padding-top: 75px;
  background: $backgroundColor;
  font-size: 14px;
  font-size: 1.4rem;
}

h1 {
  font-size: 24px;
  font-size: 2.4rem;
}

i {
  width: 26px;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  &:hover {
    color: $backgroundColor;
  }
  &:hover, &:active, &:link, &:visited {
    text-decoration: none;
  }
}

.row {
  flex-grow: 1;
}
